<template>
  <div>
    <h3>TheCounter</h3>
    <slot name="default" :count="count">
      <p>Count: {{ count }}</p>
    </slot>
    <button @click="click">Click me</button>
  </div>
</template>

<script setup lang="ts">
import {ref, defineExpose} from "vue";
import { defineEmits } from 'vue';

const emits = defineEmits(['changed'])

const count = ref(0)
const click = (enableEmiting = true) => {
  count.value++;

  if (enableEmiting) {
    emits('changed', count.value)
  }
}

defineExpose({
  click
})
</script>
