<template>
  <div>
    <h3>TheClicker</h3>
    <button @click="click(val)">Click me too</button>
  </div>
</template>

<script setup lang="ts">
import { defineEmits } from 'vue';
const emits = defineEmits(['click'])
const click = (val) => emits('click', val)
</script>
