<template>
  <div class="logo-container">
    <div class="logo" v-for="(item, index) in props.logos" :key="index"> 
      <img :src="item" alt="">
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  logos: {
    type: Array,
    required: true,
  },
})
</script>

<style scoped>
    .logo-container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        padding: 1rem;
        text-align: center;
    }

    .logo img {
      width: 50%
    }

    @media (max-width: 599px) {
        .logo {
            width: calc(50% - 2rem);
        }
    }

    @media (max-width: 1023px) and (min-width: 600px){
        .logo {
            width: calc(33.3% - 2rem);
        }
    }

    @media (min-width: 1024px) {
        .logo {
            width: calc(14.6% - 2rem);
        }
    }
</style>
